#welcome-message {
    margin-top: 4px;
    margin-bottom: 20;
}
#login {
    margin-top: 20px;
}
#logo {
    height: 10vmin;
    display: block;
    margin: auto;
}
.login-button {
    margin-bottom: 6px;
}

#game-form-container {
    vertical-align: center;
}

#game-form {
    line-height: 20px; 
    display: inline-block;
    vertical-align: middle;
}

.submit-button {
    margin-right: 4px;
}
