#welcome-message {
    margin-top: 4px;
    margin-bottom: 20;
}
#login {
    margin-top: 20px;
}
#logo {
    height: 10vmin;
    display: block;
    margin: auto;
}
.login-button {
    margin-bottom: 6px;
}
