html {
    background: linear-gradient(to right,#008470,#00d1b2);
}

#welcome-message {
    margin-top: 4px;
    margin-bottom: 20;
}
#login {
    margin-top: 20px;
}
#logo {
    height: 8vmin;
    display: block;
    margin: auto;
}

.nav-logo{
    height: 3rem;
}

.hero-body {
padding: 2rem;
}

.login-button {
    margin-bottom: 6px;
}

#game-form-container {
    align-items: center;
    font-size: calc(10px + 1vmin);
}

#game-form-button {
    align-self: center;
    width: 100%;
    margin-top: 10px;
    resize: vertical;
    margin-bottom: 10px;
    font-size: calc(10px + 1vmin);
}
#homepage-columns {
    width: 90vmin;
    margin: 20px auto;
}

#feed {
    overflow-y: scroll;
    max-height: 60vh;
}

input[type=submit] {
    align-self: center;
    width: 100%;
    margin-top: 10px;
    resize: vertical;
    margin-bottom: 10px;
    font-size: calc(10px + 1vmin);
  }
  
  input[type=text], input[type=number], input[type=date], input[type=time], select, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: calc(10px + 1vmin);
  }

#filter-container {
    width: 90vmin;
    margin: auto;
    text-align: center;
}


.game-card {
    margin: 20px;
}

.dd-button, .dropdown, .dropdown-trigger {
    font-size: 15px;
}

.apply-button, .clear-button {
    margin-left: 5px;
    margin-right: 4px;
    font-size: 15px;
}
.close-button {
    position: relative; left: 260px; bottom: 15px;
}

.bio-container {
    margin-top: 30px;
    position: relative; left: 50px; bottom: 15px;
}

.profile-column {
    border-style: solid;
    border-width: 2px;
    border-top: 0px;
    border-bottom: 0px;
}

.profile-column-left {
    border-style: solid;
    border-width: 2px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

.profile-column-right {
    border-style: solid;
    border-width: 2px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
}

.attribute-value {
    position: relative; top: 25px;
}
.edit-profile-button {
    position: relative; left: 15px; bottom: 10px;
}

.submit-button {
    margin-right: 4px;
}

.edit-profile-close-button{
    position: relative; bottom: 15px; left: 210px;
}

.header-message {
    position: relative; left: 315px;
}

.my-select {
    position: relative; bottom: 18px;
}

.sports-label {
    position: relative; top: 12px;
}
.card-header {
    padding: 20px 20px 0px;
}

#navbar {
    background-image: none;
}

#filter-time-box {
    position: relative; bottom: 30px; left: 400px;
}

.filter-dropdown {
    position: relative; right: 100px; bottom: 10px;

}

.filter-apply-clear-field {
    position: relative;
    bottom: 30px; left: 400px;
}

.apply {
    position: relative; right: 130px;
    margin-top: 10px;
}

.filter-time-input {
    position: relative; bottom: 7px;
    height: 37px;
}

.filter-sport {
    margin-right: 7px;
}

.participants-close-button{
    position: relative; bottom: 15px; left: 235px;
}
